<%= form_with url: test_path(format: :pdf), method: :get do |form| %>
  <div>
    <p>
    ①
    <%= select_tag :question_1, options_for_select([['---選択してください---', ''], ['山', '1'], ['川', '2'], ['一', '3'], ['二', '4'], ['三', '5']]) %>
    </p>
  </div>

  <div>
    <p>
    ②
    <%= select_tag :question_2, options_for_select([['---選択してください---', ''], ['山', '1'], ['川', '2'], ['一', '3'], ['二', '4'], ['三', '5']]) %>
    </p>
  </div>

  <div>
    <p>
    ③
    <%= select_tag :question_3, options_for_select([['---選択してください---', ''], ['山', '1'], ['川', '2'], ['一', '3'], ['二', '4'], ['三', '5']]) %>
    </p>
  </div>

  <div>
    <p>
    ④
    <%= select_tag :question_4, options_for_select([['---選択してください---', ''], ['山', '1'], ['川', '2'], ['一', '3'], ['二', '4'], ['三', '5']]) %>
    </p>
  </div>

  <div>
    <p>
    ⑤
    <%= select_tag :question_5, options_for_select([['---選択してください---', ''], ['山', '1'], ['川', '2'], ['一', '3'], ['二', '4'], ['三', '5']]) %>
    </p>
  </div>

  <%= form.submit 'PDF出力' %>
<% end %>
